﻿@{
    ViewBag.Title = "CallBack";
}


<div class="row">
    <div class="col-md-12">
        <hr />
        <fieldset>
            @ViewBag.Token
        </fieldset>
        @ViewBag.Expires
    </div>
</div>